*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(43, 57, 57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  margin: 5px;
  size: 0.6rem;
  color: white;

}
.name{
  color: aquamarine;
}
.start{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  margin-top: 250px;
  margin-bottom: 250px;
  padding: 50px;
  animation: changeColor 3s infinite alternate;
  border-radius: 5%;
  box-shadow: 0 0 20px aquamarine;
}

.kmm{
  background-color: transparent;
  color: aqua;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
.kmm:hover{
  color:aquamarine;
}

@keyframes changeColor {
  0% {
    border-color: rgb(239, 158, 158); /* Start with a red border */
  }
  50% {
    border-color: rgb(169, 249, 169); /* Transition to a green border */
  }
  100% {
    border-color: rgb(171, 171, 255); /* End with a blue border */
  }
}
.info1 p{
  font-size: larger ;
  gap: 5px;

}
li{
  font-size: larger;
  color: white;
  gap: 5px;
}
.info1{
  margin-left: 15px;
}
.info2{
  margin-top: 40px;
}


