body{
    background-color: rgb(49, 47, 46);
    color: aliceblue;
}

.header{
    
    align-items: center;
    width: 15%;
}
    
    .typewriter{
    color: aliceblue;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end 60s;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

p{
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  color: azure;
}

h2{
  padding-top: 10px;
  color: orange;
}

.charts{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.python{
  border: 15px solid orange;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-bottom: 15px solid rgb(87, 84, 84) ;
}
.c{
  border: 15px solid orange;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-left-color: rgb(87, 84, 84) ;
  border-bottom-color: rgb(87, 84, 84) ;
}
.html{border: 15px solid orange;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  
}
.css{
  border: 15px solid orange;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-right-color: rgb(87, 84, 84) ;
}
.mysql{
  border: 15px solid orange;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-bottom-color: rgb(87, 84, 84) ;
}

.labels{
  display: flex;
  justify-content: space-evenly;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.btn{
  border-radius: 50%;
  background-color: orange;
  width: 50px;
  height: 50px;
}

